body {
  font: 1em/1.45 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #4527A0;
}
a:hover {
  color: #7E57C2;
}

.m-main-header {
  background: rgb(39, 136, 160);
  min-height: 120px;
}

.shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.m-panel {
  border: 0;
  background: #ffffff;
  margin-top: -50px;
  border-top: 5px solid rgb(22, 103, 170);
}

.form-group-material {
  position: relative;
  margin-top: 16px;
  margin-bottom: 26px;
}
.form-group-material:after {
  height: 1px;
  background: #e6e6e6;
  width: 100%;
}
.form-group-material:before {
  height: 2px;
  background: #E91E63;
  z-index: 1;
  width: 0;
  -webkit-transition: width 0.3s;
          transition: width 0.3s;
}
.form-group-material:after, .form-group-material:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
}
.form-group-material.error {
  margin-bottom: 36px;
}
.form-group-material.error:before {
  background-color: #F44336;
}
.form-group-material.focused:before {
  width: 100%;
}

.error small.error {
  position: absolute;
  background: transparent;
  color: #F44336;
  font-style: normal;
  padding-left: 0;
}

.material-label {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
  cursor: text;
  color: #b3b3b3;
  -webkit-transition: -webkit-transform ease 0.3s, color ease 0.3s;
          transition: transform ease 0.3s, color ease 0.3s;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.error .material-label {
  color: #F44336;
}
.focused .material-label {
  -webkit-transform: translateY(-220%) scale(0.82);
      -ms-transform: translateY(-220%) scale(0.82);
          transform: translateY(-220%) scale(0.82);
  color: #E91E63;
}
.error.focused .material-label {
  color: #F44336;
}
.has-value .material-label {
  -webkit-transform: translateY(-220%) scale(0.82);
      -ms-transform: translateY(-220%) scale(0.82);
          transform: translateY(-220%) scale(0.82);
}

input.material-field, textarea.material-field {
  border-width: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  margin: 0;
  background: transparent;
}
input.material-field:focus, textarea.material-field:focus {
  box-shadow: none;
  background: none;
}

button {
  border-radius: 3px;
  padding: 6px 24px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgb(39, 136, 160);
}
button:hover {
  background: #f27ba3;
}

p.notice {
  font-size: 13px;
  color: #6f6f6f;
  margin-top: 26px;
}

.form-header h2 {
  margin-bottom: 20px;
}

.credits {
  font-size: 13px;
}