{% extends "base.html" %}
{% block main_body %}
<!-- Header -->
<header id="header">
	<h1><a href="{{url_for("index")}}">Easy Data</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="{{url_for("index")}}">ED主页</a></li>
						<li><a href="#model">功能模块介绍</a></li>
						<!--这里还没有url，先用百度代替吧-->
						<li><a href="{{'http://www.baidu.com'}}">快速开始</a></li>
						<li><a href="{{url_for("login")}}">登陆ED</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
<!-- Main -->
<article id="main">
	<header>
		<h2>404</h2>
		<br />
		<p>页面被不明生物吃掉了哦&nbsp;>_<</p> 
	</header>
</article>
{% endblock %}